<div class="main-container mt-1">
  <div class="container">
    <div class="title-text fw-bold py-5">
      About Us
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 fs-5">
        As we strive towards a sustainable future, VoltMate is spearheading the push for the widespread use of electric vehicles (EVs) in United Arab Emirates. Our mission is to create a green economy and provide access to smart, inexpensive, and reliable charging stations for a billion EV drivers. We understand that the lack of charging stations has caused “Range Anxiety” among potential EV drivers, which is depriving our cities of the necessary clean air.
      </div>
      <div class="col-md-6">
        <img src="assets/car-banner.png" alt="car" class="img-fluid">
      </div>
    </div>
    <h2 class="fw-bold text-center mt-5 pt-5">Mission</h2>
    <div class="text-center fs-4 mt-4">The main goal of our company is to help everyone make informed choices when it comes to electric transportation</div>
    <div class="row">
      <div class="col-md-4 text-center mt-5">
        <i class="fa-regular fa-handshake fa-5x"></i>
        <h2 class="text-center py-2">Help</h2>
        <p class="text-center fs-5">
          Help electric vehicle drivers across United Arab Emirates find a charging station, plan their trips, interact with the community and activate charging stations.
        </p>
      </div>
      <div class="col-md-4 text-center mt-5">
        <i class="fa-solid fa-wand-magic-sparkles fa-5x"></i>
        <h2 class="text-center py-2">Simplify</h2>
        <p class="text-center fs-5">
          Simplify the complete process before, during and after the purchase of an electric car by offering an all-in-one solution. VoltMate provides all the necessary information an EV driver needs.
        </p>
      </div>
      <div class="col-md-4 text-center mt-5">
        <i class="fa-regular fa-thumbs-up fa-5x"></i>
        <h2 class="text-center py-2">Encourage</h2>
        <p class="text-center fs-5">
          Encourage electric vehicle adoption and the deployment of a user friendly EV charging infrastructure. VoltMate helps drivers and key players in the electric vehicle industry stay up-to-date by providing the most accurate information on the industry.
        </p>
      </div>
    </div>
  </div>
</div>
