.title-text {
  font-size: 3.5rem;
}

.main-container {
  background: url("../../assets/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 89vh;
}

.title-text {
  font-size: 3.5rem;
}
