<div class="mt-5 pt-4">
  <div class="app-hero-container">
    <div class="overlay-blur-green d-flex align-items-center justify-content-center">
      <div class="hero-content">
        <h1 class="text-white fw-bold">Find your next charging station with VoltMate, the best EV charging station app</h1>
        <p class="fw-medium text-white fs-5 text-center">The VoltMate app is designed to help all the electric car drivers in the United Arab Emirates.</p>
        <div class="col-sm-12 text-center mt-5">
          <a class="btn text-decoration-none btn-bd-white px-4 rounded-0 fw-bold fs-5 py-3" href="#download-app">DOWNLOAD THE APP</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4 class="mt-5 pt-4 fw-bold">VolMate App Features</h4>
    <div class="row align-items-center justify-content-between">
      <div class="col-md-5 my-4">
        <h5>Find all the charging stations in United Arab Emirates</h5>
        <div class="row align-items-center">
          <div class="col-md-2 text-center">
            <i class="fa-solid fs-1 fa-location-dot"></i>
          </div>
          <div class="col-md-10">
            VoltMate aggregates all the charging stations in United Arab Emirates in an easy to use interface. With its search feature and filter option, you can easily find the nearest public charging stations for your electric car.
          </div>
        </div>
      </div>
      <div class="col-md-5 my-4">
        <h5>Customizable profile</h5>
        <div class="row align-items-center">
          <div class="col-md-2 text-center">
            <i class="fa-regular fa-user fs-1"></i>
          </div>
          <div class="col-md-10">
            Create a profile that responds to your need; build your own bookmarks, save your filters and customize your notifications to know when there is a new public charging station in your area.
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-md-5 my-4">
        <h5>Most accurate and detailed information</h5>
        <div class="row align-items-center">
          <div class="col-md-2 text-center">
            <i class="fa-solid fa-list fs-1"></i>
          </div>
          <div class="col-md-10">
            VolMate displays daily updated details for all the charging stations available in United Arab Emirates. With the charging stations description you have all the necessary information to plan your charge:
            <ul>
              <li>
                Charging station level (Level 1, Level 2, Level 3 (DC Fast Charger))
              </li>
              <li>
                Charging station connector (CHAdeMO, J1772, Tesla, etc.)
              </li>
              <li>
                Availability of the charging station
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 my-4">
        <h5>Easily plan your EV trip</h5>
        <div class="row align-items-center">
          <div class="col-md-2 text-center">
            <i class="fa-regular fa-map fs-1"></i>
          </div>
          <div class="col-md-10">
            Find all the charging stations along your route and get turn-by-turn directions to your next charging point. With the VolMate EV trip planner you can:
            <ul>
              <li>
                Quickly find your next charging point with the filter tool and search feature
              </li>
              <li>
                Know the distance in km or miles to your next charging point
              </li>
              <li>
                Get the directions using Google maps, Apple maps or Waze
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <h4 class="text-center my-5">Thanks to all the features available on the VolMate app, it is the best EV charging station app to help all the electric car drivers in United Arab Emirates plan their EV trip.</h4>
    <hr>
    <section id="download-app">
      <h4 class="text-center my-5">The VoltMate App is available on <strong>iOS</strong> and <strong>Android</strong></h4>
      <div class="row align-items-center justify-content-around">
        <div class="col-md-3 my-5">
          <a class="text-decoration-none" href="https://play.google.com/store/apps/details?id=com.bottomhalf.ev_tracker&pcampaignid=web_share" target="_blank">
            <div class="d-flex flex-column align-items-center">
              <img src="assets/android.png" class="" alt="android">
              <img src="assets/android_gplay.png" alt="playstore" class="mt-5 img-fluid">
            </div>
          </a>
        </div>
        <div class="col-md-3 my-5">
          <a class="text-decoration-none" href="https://apps.apple.com/in/app/voltmate/id6463707520" target="_blank">
            <div class="d-flex flex-column align-items-center">
              <img src="assets/apple.png" alt="apple" class="">
              <img src="assets/ios_download.png" alt="ios_store" class="mt-5 img-fluid">
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>

