<div class="main-container mb-4">
  <div class="container mt-2 pt-0">
    <div class="title-text fw-bold py-5">Contact Us</div>
    <div class="row">
      <div class="col-md-7">
        <img src="assets/contact-left.png" alt="contactus" class="img-fluid">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6 mt-4">
            <div class="form-control d-flex align-items-center">
              <i class="fa-solid fa-user mx-1"></i>
              <input type="text" class="form-control border-0" placeholder="Name*">
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="form-control d-flex align-items-center">
              <i class="fa-solid fa-phone-volume mx-1"></i>
              <input type="text" class="form-control border-0" placeholder="91******">
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="form-control d-flex align-items-center">
            <i class="fa-solid fa-envelope mx-1"></i>
            <input type="email" class="form-control border-0" placeholder="Email*">
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="form-control d-flex">
            <i class="fa-regular fa-message mx-1 mt-2"></i>
            <textarea class="form-control border-0" placeholder="Additional Message" rows="4"></textarea>
          </div>
        </div>
        <button class="btn btn-bd-primary rounded-0 fw-bold fs-5 px-5 py-3 mt-5">SUBMIT</button>
      </div>
    </div>
  </div>
</div>
