.hero-section {
  background: url("../../assets/hero_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  background-position: center;
}

.title-text {
  font-size: 4rem !important;
}

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.success-text {
  color: #18d1ae !important;
}

.search input:focus{
  box-shadow: none;
  border: 2px solid #18d1ae;
}

.search .fa-search{
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  color: #222;
  border: 2px solid #18d1ae;
  border-radius: 0.5rem;
  overflow: hidden;
}
.tab__label,
.tab__close {
  display: flex;
  color: #222;
  font-weight: 700;
  background: #18d1ae;
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

.sticky-top {
  top: 0px !important;
  position: fixed;
  width: 100%;
  z-index: 9999 !important;
}

.arrow-btn {
  position: fixed;
  bottom: 9px;
  right: 9px;
  z-index: 9999 !important;
}

.active {
    color: #18d1ae !important;
    font-weight: 700 !important;
}
